In [233]:
import pandas as pd
import numpy as np
import re

In [234]:
df = pd.read_csv('attacks.csv', encoding='utf-8', encoding_errors = 'ignore')

In [235]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [238]:
col_nulls = df.isnull().sum()
col_nulls

# Recordatorio: si no le pongo axis = 1, el sum() me cuenta los valores nulos por columnas.

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [239]:
per_nulls = col_nulls[col_nulls > 0] / df.shape[0]
per_nulls

Case Number               0.661704
Date                      0.755005
Year                      0.755083
Type                      0.755161
Country                   0.756949
Area                      0.772694
Location                  0.775998
Activity                  0.776154
Name                      0.763169
Sex                       0.776970
Age                       0.865062
Injury                    0.756094
Fatal (Y/N)               0.775959
Time                      0.885394
Species                   0.865335
Investigator or Source    0.755666
pdf                       0.755005
href formula              0.755044
href                      0.755005
Case Number.1             0.755005
Case Number.2             0.755005
original order            0.754733
Unnamed: 22               0.999961
Unnamed: 23               0.999922
dtype: float64

In [240]:
delete_columns = per_nulls[per_nulls > .9].index
delete_columns

Index(['Unnamed: 22', 'Unnamed: 23'], dtype='object')

In [241]:
df.drop(delete_columns, axis = 1, inplace = True)

In [242]:
df.shape

# Antes eran 24, es decir, ya las eliminó.

(25723, 22)

In [243]:
df.dropna(axis=0, how='all', inplace=True)

In [244]:
df.isnull().sum(axis = 1)

0         0
1         1
2         1
3         2
4         2
         ..
8698     21
8699     21
8700     21
8701     21
25722    21
Length: 8703, dtype: int64

In [245]:
df.columns = df.columns.str.strip(' ').str.replace(' ', '_', regex = False).str.replace('.', '', regex = False).str.replace('/', '_', regex = False).str.replace('(', '', regex = False).str.replace(')', '', regex = False).str.lower()

# No pude hacerlo usando sólo 1 replace, asi que en virtud al tiempo, lo dejé así no más.

In [246]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_y_n', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number1', 'case_number2', 'original_order'],
      dtype='object')

## Case Number

In [247]:
df.case_number.value_counts()

0               2400
1920.00.00.b       2
1966.12.26         2
2014.08.02         2
1990.05.10         2
                ...
1999.09.05         1
1999.09.10         1
1999.09.16         1
1999.09.18         1
xx                 1
Name: case_number, Length: 6287, dtype: int64

In [248]:
df.case_number == '0'

0        False
1        False
2        False
3        False
4        False
         ...
8698      True
8699      True
8700      True
8701      True
25722    False
Name: case_number, Length: 8703, dtype: bool

In [249]:
df.drop(df.loc[(df['case_number']=='0')].index, inplace = True)
df.drop(df.loc[(df['case_number']=='xx')].index, inplace = True)
df

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [250]:
df.sex.unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [251]:
df[(df['sex']=='.')]

# Unknown.

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
5437,1908.06.02.R,Reported 02-Jun-1908,1908.0,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,NaN,.,...,Y,NaN,Allegedly a 33-foot shark,"Taranaki Herald, 6/2/1908",1908.06.02.R-Matupi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.06.02.R,1908.06.02.R,866.0

In [252]:
df[(df['sex']=='lli')]

# M.

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
1624,2004.11.11.b,11-Nov-2004,2004.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,...,N,13h30,5.5 m [18'] white shark,"R. Collier, GSAF",2004.11.11.b-Kang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.11.11.b,2004.11.11.b,4679.0

In [253]:
df[(df['sex']=='N')]

# M también.

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
4938,1934.07.11,11-Jul-1934,1934.0,Boating,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' boat, occupants William & Leslie Newton",N,...,N,NaN,"Blue pointer, 11'","G.P. Whitley, ref: Daily Telegraph, 7/11/1934 ...",1934.07.11-Newton-boat-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.07.11,1934.07.11,1365.0
6131,1801.12.18.R,Reported 18-Dec-1801,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,Y,NaN,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0

In [254]:
df[(df['sex']=='.')]

# Unknown.

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_y_n,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
5437,1908.06.02.R,Reported 02-Jun-1908,1908.0,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,NaN,.,...,Y,NaN,Allegedly a 33-foot shark,"Taranaki Herald, 6/2/1908",1908.06.02.R-Matupi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.06.02.R,1908.06.02.R,866.0

In [255]:
df[(df.sex.isnull()) & (df.name.notnull())][['sex', 'name']]

# Son muchos registros para ver el 1 a 1, así que se asume unknown.

      sex                                               name
59    NaN                                        31 migrants
179   NaN                              Chip Michelove & crew
218   NaN                             Occupant: Ben Stratton
243   NaN                               Occupant: Ben Raines
297   NaN                                            unknown
...   ...                                                ...
6167  NaN                                      Indian people
6202  NaN                                   Passenger & crew
6212  NaN  4.8-metre skiboat, Occupants: Rod Salm & 4 fri...
6259  NaN                                                 C.
6287  NaN                                         20 Fijians

[420 rows x 2 columns]

In [256]:
df[df.sex.isnull()] = df[df.sex.isnull()].fillna('unknown')

In [257]:
df.sex = df.sex.replace({'M ':'M', 'lli':'M', 'N':'M', '.':'unknown'})

In [258]:
df.sex = df.sex.str.lower()
df.sex.unique()

array(['f', 'm', 'unknown'], dtype=object)

## Injury

In [259]:
df.injury = df.injury.str.lower()
df.injury

0       no injury to occupant, outrigger canoe and pad...
1                              minor injury to left thigh
2            injury to left lower leg from surfboard skeg
3                               minor injury to lower leg
4       lacerations to leg & hand shark provoked incident
                              ...
6297                                                fatal
6298                                                fatal
6299                                                fatal
6300                                                fatal
6301    fatal. "shark bit him in half, carrying away t...
Name: injury, Length: 6302, dtype: object

In [260]:
df.injury = df.injury.str.replace('fatal.*,*', 'fatal', regex = True)
df.injury

0       no injury to occupant, outrigger canoe and pad...
1                              minor injury to left thigh
2            injury to left lower leg from surfboard skeg
3                               minor injury to lower leg
4       lacerations to leg & hand shark provoked incident
                              ...
6297                                                fatal
6298                                                fatal
6299                                                fatal
6300                                                fatal
6301                                                fatal
Name: injury, Length: 6302, dtype: object

In [261]:
df[(df['injury'] == 'fatal')][['injury']].shape[0]

1300

In [262]:
df[df.injury.isnull()] = df[df.injury.isnull()].fillna('unknown')

In [263]:
df[(df.injury == 'fatal') & (df.fatal_y_n.isnull())][['fatal_y_n', 'injury']].shape

(38, 2)

### Fatal_y_n

In [264]:
df[(df.fatal_y_n.isnull())][['fatal_y_n', 'injury']]

     fatal_y_n                                             injury
27         NaN  multiple severe injuries to arms and leg, leg ...
76         NaN                                              fatal
79         NaN             lacerations to right ankle, foot & toe
84         NaN                                              fatal
98         NaN                           lacerations to left foot
...        ...                                                ...
6126       NaN           human remains (male) found in sharks gut
6147       NaN                           lacerations to arm & leg
6158       NaN                                    struck on thigh
6164       NaN                                              fatal
6232       NaN  a 4.3 m [14'] shark made threat display. no in...

[459 rows x 2 columns]

In [265]:
df.loc[(df['fatal_y_n'].isnull()) & (df.injury == 'fatal'), 'fatal_y_n'] = 'Y'

In [266]:
df.fatal_y_n.unique()

array(['N', 'Y', nan, 'unknown', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [267]:
df.fatal_y_n = df.fatal_y_n = df.fatal_y_n.str.lower()
df.fatal_y_n.unique()

array(['n', 'y', nan, 'unknown', 'm', '2017', ' n', 'n '], dtype=object)

In [268]:
df.fatal_y_n = df.fatal_y_n.str.replace(' ', '', regex = False)
df.fatal_y_n.unique()

array(['n', 'y', nan, 'unknown', 'm', '2017'], dtype=object)

In [269]:
df[(df['fatal_y_n']=='m')][['fatal_y_n', 'injury']]

# Unkown.

    fatal_y_n                                             injury
285         m  laceration to knee by speared shark provoked i...

In [270]:
df[(df['fatal_y_n']=='2017')][['fatal_y_n', 'injury']]

# Unknown.

    fatal_y_n                                    injury
786      2017  lower left leg injured provoked accident

In [271]:
df.fatal_y_n = df.fatal_y_n.replace({'m':'unknown', '2017':'unknown'})
df.fatal_y_n.unique()

array(['n', 'y', nan, 'unknown'], dtype=object)

In [272]:
df[df.fatal_y_n.isnull()] = df[df.fatal_y_n.isnull()].fillna('unknown')
df.fatal_y_n.unique()

array(['n', 'y', 'unknown'], dtype=object)

## Activity

In [273]:
df.activity = df.activity.str.lower()

In [274]:
df[(df.activity.isnull())][['activity']]

     activity
47        NaN
108       NaN
112       NaN
114       NaN
182       NaN
...       ...
6263      NaN
6269      NaN
6282      NaN
6292      NaN
6300      NaN

[305 rows x 1 columns]

In [275]:
df[df.activity.isnull()] = df[df.activity.isnull()].fillna('unknown')

In [276]:
df.activity.value_counts()

surfing                                         971
swimming                                        869
unknown                                         547
fishing                                         431
spearfishing                                    333
                                               ...
sinking of the m/v mindoro during a typhoon       1
swimming after his canoe capsized                 1
picking up shark by the tail                      1
wading & pushing dinghy toward  the shallows      1
wreck of  large double sailing canoe              1
Name: activity, Length: 1504, dtype: int64

In [277]:
act_list = list(df.activity)
print(len(act_list))

6302

In [278]:
act_list_new = []
for x in act_list:
    i += 1
    for i in range(0, 6302):
        if len(act_list[1]) == 1:
            act_list_new.append(x)
        else:
            act_list_new.append('others')

## Age

In [279]:
df.age = df.age.str.lower()

In [280]:
df.age.unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', 'unknown',
       '19', '25', '69', '38', '55', '35', '46', '45', '14', '40s', '28',
       '20', '24', '26', '49', '22', '7', '31', '17', '40', '13', '42',
       '3', '8', '50', '16', '82', '73', '20s', '68', '51', '39', '58',
       'teen', '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59',
       '6', '27', '64', '23', '71', '44', '62', '63', '70', '18 months',
       '53', '30s', '50s', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'teens', '36 & 26',
       '8 or 10', '84', ' ', '30 or 36', '21 & ?', '75', '33 or 37',
       'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28', '20?',
       "60's", '32 & 30', '16 to 18', '87', '67', 'elderly', 'mid-20s',
       'ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22',
       'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26',
       '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'x',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months',
       'make line green', ' 43', '81', '"young"', '7 or 8', '78',
       '17 & 16', 'f', 'both 11', '9 or 10', 'young', '36 & 23', '  ',
       'a.m.', '?    &   14', '10 or 12', '31 or 33', '2', '13 or 14'],
      dtype=object)

In [281]:
df[(df.age.isnull())][['age']]

      age
3     NaN
4     NaN
5     NaN
15    NaN
16    NaN
...   ...
6295  NaN
6296  NaN
6297  NaN
6298  NaN
6299  NaN

[1880 rows x 1 columns]

In [282]:
df[df.age.isnull()] = df[df.age.isnull()].fillna('unknown')

In [283]:
df.age = df.age.replace({'40s':'40',
                         '20s':'20',
                         'teen':'15',
                         '60s':'60',
                         '18 months':'< 1',
                         '30s':'30', 
                         '50s':'50', 
                         '28 & 26':'27',
                         '18 or 20':'18',
                         '12 or 13':'12', 
                         '46 & 34':'40', 
                         '28, 23 & 30':'27', 
                         'teens':'15', 
                         '36 & 26':'31',
                         '8 or 10':'8', 
                         ' ':'unknown', 
                         '30 or 36':'30', 
                         '21 & ?':'21', 
                         '33 or 37':'33',
                         'mid-30s':'35', 
                         '23 & 20':'22', 
                         ' 30':'30', 
                         '7      &    31':'29', 
                         ' 28':'28', 
                         '20?':'20',
                         "60's":'60', 
                         '32 & 30':'31', 
                         '16 to 18':'17', 
                         'elderly':'70', 
                         'mid-20s':'25',
                         'ca. 33':'unknown', 
                         '74 ':'74', 
                         '45 ':'45', 
                         '21 or 26':'24', 
                         '20 ':'20', 
                         '>50':'60', 
                         '18 to 22':'20',
                         'adult':'18', 
                         '9 & 12':'11', 
                         '? & 19':'19', 
                         '9 months':'< 1', 
                         '25 to 35':'30', 
                         '23 & 26':'25', 
                         '(adult)':'18', 
                         '33 & 37':'35', 
                         '25 or 28':'27',
                         '37, 67, 35, 27,  ? & 27':'unknown',
                         '21, 34,24 & 35':'30', 
                         '30 & 32':'31', 
                         '50 & 30':'40', 
                         '17 & 35':'25', 
                         'x':'unknown',
                         '"middle-age"':'40', 
                         '13 or 18':'15', 
                         '34 & 19':'53', 
                         '33 & 26':'30', 
                         '2 to 3 months':'< 1',
                         'make line green':'unknown', 
                         ' 43':'43', 
                         '"young"':'16', 
                         '7 or 8':'7',
                         '17 & 16':'17', 
                         'f':'unknown', 
                         'both 11':'11', 
                         '9 or 10':'9', 
                         'young':'16', 
                         '36 & 23':'30', 
                         '  ':'unknown',
                         'a.m.':'unknown', 
                         '?    &   14':'14', 
                         '10 or 12':'10', 
                         '31 or 33':'31', 
                         '13 or 14':'13'})

In [284]:
df.age.unique()

array(['57', '11', '48', 'unknown', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '13', '42', '3', '8',
       '50', '16', '82', '73', '68', '51', '39', '58', '47', '61', '65',
       '36', '66', '43', '9', '72', '59', '6', '27', '64', '23', '71',
       '44', '62', '63', '70', '< 1', '53', '77', '74', '5', '86', '84',
       '75', '87', '67', '1', '81', '78', '2'], dtype=object)

In [285]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_y_n', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number1', 'case_number2', 'original_order'],
      dtype='object')

## Type

In [286]:
df.type = df.type.str.lower()

In [287]:
df.type.unique()

array(['boating', 'unprovoked', 'invalid', 'provoked', 'questionable',
       'sea disaster', 'unknown', 'boat', 'boatomg'], dtype=object)

In [288]:
df.type = df.type.replace({'boating':'boat', 'boatomg':'boat'})

In [289]:
df.type.unique()

array(['boat', 'unprovoked', 'invalid', 'provoked', 'questionable',
       'sea disaster', 'unknown'], dtype=object)

## Area

In [290]:
df.area = df.area.str.lower()

In [291]:
df.area.isnull().sum()

92

In [292]:
df[df.area.isnull()] = df[df.area.isnull()].fillna('unknown')

## Location

In [293]:
df.location = df.location.str.lower()

In [294]:
df.location.unique()

array(['oceanside, san diego county', 'st. simon island, glynn county',
       'habush, oahu', ..., 'ocracoke inlet', 'panama bay 8n, 79w',
       'below the english fort, trincomalee'], dtype=object)

In [295]:
df.location.isnull().sum()

77

In [296]:
df[df.location.isnull()] = df[df.location.isnull()].fillna('unknown')

### ----------------------------------------------------------------------------------

In [297]:
delete_columns2 = ['name', 'pdf', 'href_formula', 'href']

In [298]:
df.drop(delete_columns2, axis = 1, inplace = True)

In [299]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'sex', 'age', 'injury', 'fatal_y_n', 'time', 'species',
       'investigator_or_source', 'case_number1', 'case_number2',
       'original_order'],
      dtype='object')

## Species

In [300]:
df.species = df.species.str.lower()

In [301]:
df.species.unique()

array(['white shark', nan, '2 m shark', ..., "12' tiger shark",
       'blue pointers',
       'said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [302]:
df.species.isnull().sum()

1073

In [303]:
df.species.notnull().sum()

5229

In [304]:
df.species.isnull().sum()/df.shape[0]

0.17026340844176452

In [305]:
df[df.species.isnull()] = df[df.species.isnull()].fillna('unknown')

In [306]:
# Pendiente: case_number, date, year, case_number1, case_number2, original_order.

## Investigator Or Source

In [311]:
df.investigator_or_source.isnull().sum()

0

In [310]:
df[df.investigator_or_source.isnull()] = df[df.investigator_or_source.isnull()].fillna('unknown')

## Time

In [314]:
df.time.isnull().sum()

446

In [315]:
df[df.time.isnull()] = df[df.time.isnull()].fillna('unknown')